body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: teal;
    color: black;
    text-align: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


* {
    margin: 0;
    padding: 0;
}

main{
    flex:1;
}

ul {
    list-style-position: inside;
}

p {
    text-align: left;
}

.no-bullets {
    list-style: none;
}

.header__title {
    text-align: center;
    padding: 1em;
    color: rgb(228, 226, 226);
}

.top-nav {
    background-color: #333;
    display: flex;
    justify-content: center;
  }

  .top-nav li::marker {
      display: none;
  }

  .top-nav a:hover {
    background-color: #ddd;
    color: black;
  }

.top-nav__link {
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.top-nav__link.active {
    background-color: #919b91;
    color: white;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

.columns2-layout {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
}

.columns2-layout .left {
    flex: 1 1 35%;
    text-align: left;
    padding: 2em 1em;
    background-color: rgb(36, 36, 36);
}

.columns2-layout .right {
    flex: 1 1 65%;
    padding: 2em 1em;
    background-color: rgb(230, 230, 230);
    text-align: left;
}

.text-part {
    margin-bottom: 2em;
    font-size: 14px;
    line-height: 1.5;
}

.text-part h2 { 
    margin-bottom: 0.5em;
}

.text-part li {
    margin-bottom: 1em;
    display: block;
}

.text-part img {
    margin-bottom: 1em;
}

.text-part .smaller {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1em;
}

.sidebar-nav {
    position: fixed;
}

.sidebar-nav li {
    margin-bottom: 0.25em;
}

.sidebar-nav li a {
    display: block;
    padding: 0.5em 0;
    color: rgb(192, 192, 192);
    font-weight: bold;
    text-decoration: none;
    transition: color ease 200ms;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
    text-decoration: underline;
    color: white;
}

.one-page-container {
     display: flex;
    max-width: 1024px;
    margin: 0 auto;   
}

footer {
    display: flex;
    padding: 1em;
    background-color: #333;
    color: rgb(228, 226, 226);
    margin-top: auto;
    flex-direction: row;
}

.footer__right,
.footer__left{
    flex:1 1 50%;
}

.footer__right,
.footer__right p {
    text-align: right;
}

.full-width-img{
    max-width: 100%;
    display: block;
}
