.topnav {
    background-color: #333;
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #919b91;
    color: white;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #7e8584;
    color: #dfdce3;
    text-align: left;
}
* {
    margin: 10;
    padding: 10;
}
h1{
    margin-left: 20;
    right: 20;
    text-align: center;
}
h2{
    margin-left: 20;
    right: 20;
    font-size: 17px;
    color: black;
}
h3{
    margin-left: 20;
    right: 20;
    font-size: 17px;
    color: black;
}
p{
    text-align: center;
}